@page
@using JobTracker.Pages
@using JobTracker.Model

@model IndexModel

@{
    ViewData["Title"] = "Home page";


    

}
<link rel="stylesheet" href="~/css/index.css" />
<script defer src="~/js/index.js" asp-append-version="true"></script>



<section>
   
    <div class="index-section">
        
        <div class="applied columns">
            <div class="text-center blue">

              
                <h2>Applied <strong class="number-count">(@Model.Jobs.Count(j => j.Status == "Applied"))</strong></h2>
               @*  <button id="btn-toggle-view" class="btn-toggle-view">V</button> *@
                <div class="filter-div">
                   
                    <input class="titleFilter" placeholder="Filter by title or company" />
                
                    <select id="sortSelect" name="sortOrder">
                        <option selected value="latest">Latest</option>
                        <option value="before">Before</option>
                    </select>

                  
                    <select id="maxJobs" class="maxJobs">

                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="100000" selected>All</option>
                    </select>
                </div>
                
                

                
                
                <div class="jobs-grid">
                    @foreach (var job in Model.Jobs.Where(j => j.Status == "Applied"))
                    {
                        
                        <a asp-page="/Details" asp-route-id="@job.Id"
                           class="job-card blue-card"
                           id="job-card"
                           data-title="@job.Title"
                           data-company="@job.Company"
                           data-date="@job.CreatedAt.ToString("yyyy-MM-dd")">
                           <div class="flex-div">
                               <div>
                                    <strong>@job.Title</strong>
                                    <p>@job.Company</p>
                               </div>
                               
                                <p>@job.CreatedAt</p>
                             

                           </div>
                           
                        </a>
                    }
                </div>
                
            </div>
        </div>
        <div class="interview columns">
            <div class="text-center yellow">


                <h2>Interview (@Model.Jobs.Count(j => j.Status == "Interview"))</h2>
                <label>Filter</label>
                <input id="titleFilter" placeholder="Filter by title" />
                <label for="sortSelect">Sortera:</label>
                <select id="sortSelect" name="sortOrder">
                    <option value="latest">Latest</option>
                    <option value="before">Before</option>
                </select>

                <label for="maxJobs">Visa:</label>
                <select id="maxJobs">

                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="1000">All</option>
                </select>
                <div class="jobs-grid">
                    @foreach (var job in Model.Jobs
                    .Where(j => j.Status == "Interview"))
                    {
                        

                        <a asp-page="/Details" asp-route-id="@job.Id"
                           class="job-card yellow-card"
                           >
                            <div class="flex-div">
                                <strong>@job.Title</strong>
                                <p>@job.Company</p>



                            </div>

                        </a>
                    }
                </div>

            </div>
        </div>
        <div class="offer columns">
            <div class="text-center green">


                <h2>Offer (@Model.Jobs.Count(j => j.Status == "Offer"))</h2>
                <label>Filter</label>
                <input id="titleFilter" placeholder="Filter by title" />
                <label for="sortSelect">Sortera:</label>
                <select id="sortSelect" name="sortOrder">
                    <option value="latest">Latest</option>
                    <option value="before">Before</option>
                </select>

                <label for="maxJobs">Visa:</label>
                <select id="maxJobs">

                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="1000">All</option>
                </select>
                <div class="jobs-grid">
                    @foreach (var job in Model.Jobs.Where(j => j.Status == "Offer"))
                    {
                        <a asp-page="/Details" asp-route-id="@job.Id"
                           class="job-card green-card">
                            <div class="flex-div">
                                <strong>@job.Title</strong>
                                <p>@job.Company</p>



                            </div>

                        </a>
                    }
                </div>

            </div>
        </div>
        <div class="rejected columns">
            <div class="text-center red">


                <h2>Rejected (@Model.Jobs.Count(j => j.Status == "Rejected"))</h2>
                <label>Filter</label>
                <input id="titleFilter" placeholder="Filter by title" />
                <label for="sortSelect">Sortera:</label>
                <select  id="sortSelect" name="sortOrder">
                    <option class="border-radius" value="latest">Latest</option>
                    <option value="before">Before</option>
                </select>

                <label for="maxJobs">Visa:</label>
                <select id="maxJobs">

                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="1000">All</option>
                </select>
                <div class="jobs-grid">
                    @foreach (var job in Model.Jobs.Where(j => j.Status == "Rejected"))
                    {
                        <a asp-page="/Details" asp-route-id="@job.Id"
                           class="job-card red-card">
                            <div class="flex-div">
                                <strong>@job.Title</strong>
                                <p>@job.Company</p>



                            </div>

                        </a>
                    }
                </div>

            </div>
        </div>

    </div>
</section>



