@page
@using JobTracker.Pages
@using JobTracker.Model

@model IndexModel

@{
    ViewData["Title"] = "Home page";
   
}
<link rel="stylesheet" href="~/css/index.css" />
<section>


    <div class="index-section">

        <div class="applied columns">
            <div class="text-center green">


                <h2>APPLIED</h2>

                <div class="jobs-grid">
                    
                    @foreach (var job in Model.Jobs.Where(j => j.Status == "Applied"))
                    {
                        <a asp-page="/Details" asp-route-id="@job.Id">
                            <div class="job-card">
                                <strong>@(job.Title)</strong>
                                <p> @job.Company</p>

                            </div>
                        </a>
                        
                    }
                </div>
                
            </div>
        </div>
        <div class="interview columns">
            <div class="text-center yellow">


                <h2>INTERVIEW</h2>

                <div class="jobs-grid">
                    @foreach (var job in Model.Jobs.Where(j => j.Status == "Interview"))
                    {
                        <div class="job-card">
                            <strong>@(job.Title ?? "Ingen titel angiven")</strong>
                            <p> @job.Company</p>
                       
                        </div>
                    }
                </div>

            </div>
        </div>
        <div class="offer columns">
            <div class="text-center">


                <h2>OFFER</h2>

                <div class="jobs-grid">
                    @foreach (var job in Model.Jobs.Where(j => j.Status == "Offer"))
                    {
                        <div class="job-card">
                            <strong>@(job.Title ?? "Ingen titel angiven")</strong>
                            <p> @job.Company</p>
                            
                           
                        </div>
                    }
                </div>

            </div>
        </div>
        <div class="rejected columns">
            <div class="text-center red">


                <h2>REJECTED</h2>

                <div class="jobs-grid">
                    @foreach (var job in Model.Jobs.Where(j => j.Status == "Rejected"))
                    {
                        <div class="job-card">
                            <strong>@(job.Title ?? "Ingen titel angiven")</strong>
                            <p> @job.Company</p>
                           
                        </div>
                    }
                </div>

            </div>
        </div>

    </div>
</section>



